* {
    background-color: ghostwhite;
}
main {
    display: flex;
    flex-direction: row-reverse;
}
#grid {
    border: 1px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 700px;
}
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.pixel {
    border: 1px solid black;
    background-color: #F5F5F7;
    height: 100%;
    width: 100%;
}
#buttons {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.color-picker {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.grid-size {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}